# Build and test directories
target/
**/src/test/**

# IDEs and editors
.idea/
.vscode/
*.iml

# Logs
*.log

# System Files
.DS_Store

# Development environment configuration
**/src/main/resources/application-dev.properties
**/src/main/resources/homealone-5e64e-firebase-adminsdk-exwdi-18befdc1b2.json

# Q클래스
/src/main/generated/

